@page "/edit-entry/{Id:int}"
@inject JournalEntryService entries
@inject NavigationService nav

@if(entry != null)
{
	<JournalEntryForm Entry="entry" OnCancel="nav.GoToIndexPage" OnValidSubmit="UpdateEntryAsync" />
}
else
{
	<h1 class="edit-entry-header">Entry #@Id does not exist!</h1>
}

@code
{
	[Parameter] public int Id { get; set; }
	private JournalEntry entry;

	protected override async Task OnInitializedAsync()
	{
		entry = await entries.GetEntryAsync((uint)Id);
		entry.Content = entry?.Content.Replace("<==>", "\n\n");
	}

	private async Task UpdateEntryAsync()
	{
		entry.Content = entry?.Content.Replace("\n\n", "<==>");
		await entries.UpdateEntryAsync(entry);
		nav.GoToIndexPage();
	}
}