@page "/"
@inject JournalEntryService EntryService;
<main>
	@for(uint i = 0; i < 10; i++)
	{
		bool useDivider = i < 10 - 1;
		var entry = EntryService.GetEntry(1);
		<JournalEntryPreview UseDivider="useDivider" Entry="entry"/>

	}
</main>