@page "/"
@inject JournalEntryService entries
<main>
	@if(cachedEntries == null)
	{
		<h1 class="entry-preview-header">No entries found!</h1>
	}
	else
	{
		for(uint i = 0; i < cachedEntries.Length; i++)
		{
			bool useDivider = i < cachedEntries.Length - 1;
			var entry = cachedEntries[i];
			<JournalEntryPreview UseDivider="useDivider" Entry="entry"/>
		}
	}

</main>

@code
{
	private JournalEntry[] cachedEntries;

	protected override async Task OnInitializedAsync()
	{
		cachedEntries = await entries.GetEntriesAsync();
		await base.OnInitializedAsync();
	}
}