@page "/view-entry/{Id:int}"
@inject JournalEntryService EntryService;

@if (Entry == null)
{
	<h1 class="entry-header">Entry #@Id not found!</h1>
}
else
{
	<main>
		<article>
			<div class="entry">
				<header>
					<h1 class="entry-header">@Entry.Title</h1>
					<h3 class="entry-date">
						<time>
							@Entry.Date.ToString("(ddd) dd-MMM-yyyy HH:mm")
						</time>
					</h3>
					<h5 class="entry-nav">
						<button class="btn entry-nav-btn" type="button">
							<i class="demo-icon icon-left"></i>
							Prev
						</button>
						<button class="btn entry-nav-btn edit-btn" type="button">
							<i class="demo-icon icon-pencil"></i>
							Edit
						</button>
						<button class="btn entry-nav-btn delete-btn">
							<i class="demo-icon icon-trash-empty"></i>
							Delete
						</button>
						<button class="btn entry-nav-btn" type="button">
							Next
							<i class="demo-icon icon-right"></i>
						</button>
					</h5>
				</header>
				@foreach (string paragraph in Entry.Content.Split("<==>"))
				{
					<section>
						<p class="entry-paragraph">
							@paragraph
						</p>
					</section>
				}
			</div>
		</article>
	</main>
}


@code
{
	[Parameter]
	public int Id { get; set; }

	public JournalEntry Entry { get; set; }

	protected override void OnInitialized()
	{
		Entry = EntryService.GetEntry((uint)Id);
	}
}