<header>
	@if(Entry.Id == null)
	{
		<h1 class="edit-entry-header">New Entry</h1>
	}
	else
	{
		<h1 class="edit-entry-header">Entry #@Entry.Id</h1>
	}
</header>
<main>
	<div class="edit-entry-form">
		<EditForm Model="Entry" OnSubmit="OnSubmit" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmit">
			<DataAnnotationsValidator />
			<InputText class="edit-entry-title" placeholder="Title" @bind-Value="Entry.Title"></InputText>
			<InputTextArea class="edit-entry-content" rows="25" placeholder="What's up?" @bind-Value="Entry.Content"></InputTextArea>
			<div class="login-password-message">
				<ValidationMessage For="@(() => Entry.Title)" />
				<ValidationMessage For="@(() => Entry.Content)" />
			</div>
			<div class="edit-entry-nav">
				<button class="btn btn-cancel" type="button" @onclick="OnCancel">Cancel</button>
				<button class="btn btn-submit" type="submit">Submit</button>
			</div>
		</EditForm>
	</div>
</main>

@code
{
	[Parameter] public JournalEntry Entry { get; set; }
	[Parameter] public EventCallback OnSubmit { get; set; }
	[Parameter] public EventCallback OnValidSubmit { get; set; }
	[Parameter] public EventCallback OnInvalidSubmit { get; set; }
	[Parameter] public EventCallback OnCancel { get; set; }
}