@inject	IJSRuntime js;
@inject AuthenticationService auth;
@inject NavigationManager nav;

<header>
	<h1 class="login-header">
		Enter your password!
	</h1>
</header>
<main>
	<PasswordForm Password="Password" OnValidSubmit="OnValidSubmitAsync" />
</main>

@code
{
	public Password Password { get; set; }

	protected override void OnInitialized()
	{
		Password = new Password();
	}

	private async Task OnValidSubmitAsync()
	{
		await js.InvokeVoidAsync("SetPasswordMessageText", "Authenticating...");
		if (await auth.Authenticate(Password.Content))
			nav.NavigateTo(nav.Uri);
		else
		{
			await js.InvokeVoidAsync("SetPasswordMessageText", "Wrong password!");
		}
	}
}