@using System.ComponentModel.DataAnnotations;
@inject	IJSRuntime js;
@inject AuthenticationService auth;
@inject NavigationManager nav;
@inject HttpClient http;

<header>
	<h1 class="login-header">
		Enter your password!
	</h1>
</header>
<main>
	<EditForm class="login-form" Model="Password" OnValidSubmit="OnValidSubmitAsync">
		<DataAnnotationsValidator />
		<InputText class="login-password" type="password" placeholder="Your password" @bind-Value="Password"></InputText>
		<div style="width: 100%;"></div>
		<button class="btn login-btn" type="submit">
			<i class="demo-icon icon-login"></i>
			Log In
		</button>
	</EditForm>
</main>

@code
{
	public string Password { get; set; }

	protected override void OnInitialized()
	{
		Password = string.Empty;
	}

	private async Task OnValidSubmitAsync()
	{
		await js.InvokeVoidAsync("console.log", "Sending the request...");
		if (await auth.Authenticate(Password))
			nav.NavigateTo(nav.Uri);
	}
}