@inject IJSRuntime js
@inject NavigationManager nav

<header class="sticky">
	<nav>
		<div class="navbar">
			<NavLink class="navbar-logo" href="/">Web Journal</NavLink>
			<div class="navbar-right">
				<button class="btn navbar-btn navbar-newentry" type="button" @onclick="GoToNewEntry">
					<i class="demo-icon icon-pencil"></i>
					<span id="navbar-newentry-txt">New</span>
				</button>
				<button class="btn navbar-btn navbar-logout" type="button">
					<i class="demo-icon icon-logout"></i>
					<span id="navbar-logout-txt">Logout</span>
				</button>
			</div>
		</div>
	</nav>
</header>

@code
{
	protected override void OnAfterRender(bool firstRender)
	{
		js.InvokeVoidAsync("navbarResizeInit");
		js.InvokeVoidAsync("onNavbarResize");
		base.OnAfterRender(firstRender);
	}

	private void GoToNewEntry()
	{
		nav.NavigateTo("/new-entry");
	}
}