<EditForm class="login-form" Model="Password" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />
	<InputText class="login-password" type="password" placeholder="Your password" @bind-Value="Password.Content"></InputText>
	<div style="width: 100%;"></div>
	<button class="btn login-btn" type="submit">
		<i class="demo-icon icon-login"></i>
		Log In
	</button>
	<div class="login-password-message" id="password-message">
		<ValidationMessage For="@(() => Password.Content)" />
	</div>
</EditForm>

@code
{
	[Parameter]
	public Password Password {get; set;}

	[Parameter]
	public EventCallback OnValidSubmit { get; set; }

}