.entry-preview
{
	margin-left: 10px;
	margin-right: 10px;
}

.entry-preview-header
{
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
}

.entry-preview-date
{
	font-size: 15px;
	font-weight: lighter;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 15px;
}

.entry-preview-paragraph
{
	text-align: justify;
	text-indent: 25px;
	margin-bottom: 20px;
}

.entry-preview-readmore
{
	float: right;
	font-weight: lighter;
	font-style: italic;
}

.entry-preview-divider
{
	height: 2px;
	border: none;
	background-color: var(--white);
}
