
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-right:before { content: '\e0af'; } /* '' */
.icon-left:before { content: '\e0d4'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */