@import "main.css";

.login-header
{
	text-align: center;
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 10px;
}

.login-form
{
	text-align: center;
	padding: 5px;
}

.login-password
{
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.login-btn
{
	font-size: 25px;
	background-color: var(--green);
}