:root
{
	--grey: #262626;
	--light-grey: #383838;
	--lighter-grey: #c0c0c0;
	--green: #459a45;
	--blue: #3650a7;
	--violet: #ad36bd;
	--white: #ffffff;
	--red: #e93535;
}

body
{
	background-color: var(--grey);
	color: var(--white);
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

main
{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

footer
{
	margin-top: 10px;
	width: 100%;
	background-color: var(--green);
	text-align: center;
	font-size: 15px;
	font-weight: lighter;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

.btn
{
	padding: 0.35em;
	border: none;
	outline: none;
	color: inherit;
	cursor: pointer;
}

#loading
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}